<h1>Real-Time &amp; .NET - What are your options?</h1>

<ul>
    <li><a href="/Home/SignalR">SignalR</a></li>
    <li><a href="/Home/XSockets">XSockets</a></li>
    <li><a href="/Home/Pusher">Pusher</a></li>
</ul>