body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.main {
  min-height: 500px;
}

.chat-app {
    margin: 50px;
    padding-top: 10px;
    display: none;
}

.chat-app .message:first-child {
    margin-top: 15px;
}

#messages {
    height: 300px;
    overflow: auto;
    padding-top: 5px;
}

.twitter-username-capture {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.twitter-input {
  margin-top: 20px;
}

.input-message {
    overflow-x: hidden;
}