<h1>Real-Time &amp; .NET - What are your options?</h1>

<ul>
    <li><a href="/Chat/SignalR">SignalR</a></li>
    <li><a href="/Chat/XSockets">XSockets</a></li>
    <li><a href="/Chat/Pusher">Pusher</a></li>
</ul>