@{
    ViewBag.Title = "Not Found";
}

<div>
    <h1>Page Not Found <small class="text-danger">ERROR 404</small></h1>

    <p>
        The page you requested could not be found, either contact the system administrator or try again. Use your browsers Back button to navigate to the page you have prevously come from.
    </p>

</div>
